* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  white-space: nowrap;
}

body {
  height: 100vh;
  margin: 0;

  background-image: linear-gradient(
    315deg,
    rgb(247, 247, 247),
    23.8%,
    rgb(39, 152, 187) 75%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*rgb(60, 130, 151) 75%*/

.music-container {
  background-color: rgba(39, 152, 187, 0.61);
  height: 10vh;
  min-height: 150px;
  min-width: 350px;
  width: 35vw;
  border-radius: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: rgb(39, 152, 187);
  font-size: 30px;
  cursor: pointer;
}

.action-btn-big {
  font-size: 30px;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 15px 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  opacity: 0;
  transform: translateY(-100%);
  padding: 10px 50px 10px 50px;
  transition: transform 0.6s ease-in, opacity 0.6s ease-in;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(0%);
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: rgba(39, 152, 187, 0.61);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1 linear;
}
